calcfims:
  mkdir:
    - '{{ snow_prepobs_path }}'
  copy:
    - ['{{ COMIN_OBS }}/{{ OPREFIX }}imssnow96.asc', '{{ snow_prepobs_path }}/ims{{ current_cycle | to_julian }}_4km_v1.3.asc']
    # remove the below line later once using the C++ IMS SCF code
    - ['{{ FIXgfs }}/gdas/obs/ims/IMS_4km_to_{{ CASE }}.mx{{ OCNRES }}.nc', '{{ snow_prepobs_path }}/IMS4km_to_FV3_mapping.{{ CASE }}_oro_data.nc']
ims2ioda:
  copy:
    - ['{{ DATA }}/ims_snow_{{ current_cycle | to_YMDH }}.nc4', '{{ snow_prepobs_path }}/{{ OPREFIX }}ims_snow.tm00.nc']

